.card__container {
  display: flex;
  flex-wrap: wrap;

  .card__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    margin: 5px;
    box-shadow: 1px 2px #beb8b8;
    padding: 6px;
  }
}
